/* All styles for your Card Components live here */
.CardContainer {
	border: 1px solid grey;
	margin-left: 95px;
	cursor: pointer;
	border-radius: 0.5rem;
	padding: 0;
}

.CardBanner {
	width: 100%;
	height: auto;
	padding: 0;
}

.BannerImage {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	padding: 0;
	border-radius: 0.5rem 0.5rem 0 0;
}
